server:
  port: 4002
spring:
  application:
    name: config-server
  security:
    user:
      name: root
      password: 12345
  cloud:
    config:
      server:
        git:
          uri: file://media/github/erp/erp-config-files